---
title: FCLD Home
---

<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	{% include css.html %}

</head>
<body class="index">

	<!-- preload loaders -->
	<img style="display:none" src="img/loader-light.gif" alt="loader" title="loader">
	<img style="display:none" src="img/loader-dark.gif" alt="loader" title="loader">
	{% include header.html %}
	<div id="header-space"></div>
	<div class="page-slider-wrap">
		<div id="page-slider" >
			<ul>
				<!-- SLIDE  -->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >

					<!-- MAIN IMAGE -->
					<img src="img/slide1.jpg"  alt="slide1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

					<!-- LAYER NR. 1 -->
					<div class="tp-caption slider-title customin customout"
						data-x="5"
						data-y="155"
						data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
						data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
						data-speed="1000"
						data-start="500"
						data-easing="Back.easeInOut"
						data-endspeed="300"
						style="color:#D57D41; text-shadow: 2px 2px black">The Florida Center For Laser Dentistry
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption slider-sub-title sfl"
						data-x="30"
						data-y="230"
						data-speed="1000"
						data-start="700"
						data-easing="Back.easeInOut"
						data-endspeed="300"

						style="color:#fff; text-shadow: 2px 2px black">Here you will find all the latest<br />updates you need in the field of Laser Dentistry
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption sfl slider-text"
						data-x="30"
						data-y="350"
						data-speed="1000"
						data-start="800"
						data-easing="Back.easeInOut"
						data-endspeed="300"
						style="color:#fff; text-shadow: 2px 2px black">
						Serving Hudson, FL and the surrounding area since 1990. Our friendly and<br /> intelligent staff will assist you in all of your dental and cosmetic needs.
					</div>

					<!-- LAYER NR. 4 -->
					<a href="http://cosmeticsmile.net/complimentary-consultation/" class="tp-caption sfr btn btn-orange btn-big"
						data-x="30"
						data-y="500"
						data-speed="1000"
						data-start="1000"
						data-easing="Power3.easeInOut"
						data-endspeed="300"
						style="color:#fff">Make An Appointment
					</a>

				</li>

							<!-- SLIDE  -->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" >

					<!-- MAIN IMAGE -->
					<img src="img/slide2.jpg"  alt="slide2"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

					<!-- LAYER NR. 1 -->
					<div class="tp-caption slider-title text-center sft"
						data-x="center"
						data-y="200"
						data-speed="1000"
						data-start="500"
						data-easing="Power1.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="color:#D57D41; text-shadow: 2px 2px black">Be Informed!
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption slider-sub-title text-center sfl"
						data-x="center"
						data-y="center"
						data-speed="1000"
						data-start="600"
						data-easing="Power1.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="color:#fff; text-shadow: 2px 2px black">
						We are dedicated to informing our patients about complicated procedures and will <br />guide you towards the treatment best suitable for you and your budget.
					</div>

					<!-- LAYER NR. 3 -->
					<a href="topics/index.html" class="tp-caption sfb btn btn-big btn-orange"
						data-x="center"
						data-y="500"
						data-speed="1000"
						data-start="700"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="color:#fff;">Read More
					</a>
				</li>
				<!-- SLIDE  -->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1000" >

					<!-- MAIN IMAGE -->
					<img src="img/slide4.jpg"  alt="slide2"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

					<!-- LAYER NR. 1 -->
					<div class="tp-caption slider-title text-center sft"
						data-x="center"
						data-y="200"
						data-speed="1000"
						data-start="500"
						data-easing="Power1.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="color:#D57D41; text-shadow: 2px 2px black">State Of The Art Technology!
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption slider-sub-title text-center sfl"
						data-x="center"
						data-y="center"
						data-speed="1000"
						data-start="600"
						data-easing="Power1.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="color:#fff; text-shadow: 2px 2px black">
						Our equipment ensures that you will have a pain free and enjoyable experience.<br />
						This site aims to break down the benefits of certain procedures over the more <br />conventional predecessors

					</div>

					<!-- LAYER NR. 3 -->
					<a href="topics/index.html" class="tp-caption sfb btn btn-orange btn-big"
						data-x="center"
						data-y="500"
						data-speed="1000"
						data-start="700"
						data-easing="Power4.easeOut"
						data-endspeed="300"
						data-endeasing="Power1.easeIn"
						data-captionhidden="off"
						style="color:#fff;">Read More
					</a>
				</li>
			</ul>
			<div class="tp-bannertimer tp-bottom"></div>
		</div>
	</div>
	<div id="page-content" role="main">
		<div class="container">

			<div id="content">
				<div class="container-out container-light">

					<div class="title title-section">
						<h2>About me</h2>
						<p>University of Louisville Dental School 1989<br /> Texas A&M 1975 Clinical Microbiology
						</p>
						<br/>
					</div><!-- .title.title-section -->

				</div><!-- .container-out -->
				<div class="container-out container-no-bottom">
					<div class="row">
						<div class="col-sm-12 animation animation-grow">

							<div class="iconbox iconbox-style3">
								<div class="iconbox-heading">
									
										<a href="users/user-drKimmel.html"><img src="img/DrKimmel.png"></a>
									
								</div><!-- .iconbox-heading -->
								<div class="iconbox-content">
									<div class="text text-center">
										<p>I entered the field of Clinical Microbiology, working for 9 years at the University of Kentucky Medical Center. During this time I started graduate school and really enjoyed doing basic research. My graduate advisor taught Biochemistry at the University of Kentucky Dental school. It was under his influence that I applied to dental school so I could continue my research.</br></br>
										I graduated in 1989, from the University of Louisville Dental School, and on the day of my graduation my mother had a secret to tell me. Seems when I was 5 years old, I told her that when I grew up I wanted to be a dentist! Mom thought it was destiny, I thought it was because the dentist had a great Treasure Chest and we always got a free toy every time we went! Mom may have been right as I do love what I do every day but I also have a Treasure Chest full of toys in my office!</p>
										<a href="users/user-drKimmel.html" class="lead">David A Kimmel DMD</a>
									</div>
								</div><!-- .iconbox-content -->
							</div><!-- .iconbox -->

						</div><!-- .col-sm-4 -->
					</div>
				</div>	

				<div class="container-out container-light">

					<div class="title title-section">
						<h2>Recent news from the blog</h2>
						<p>Enjoy a quick breakdown of current events in dentistry.</p>
						<span class="sticker">
							<i class="icon fa fa-bullhorn"></i>
						</span>
					</div><!-- .title.title-section -->

				</div><!-- .container-out -->
				<div class="container-out">

					<div class="carousel-wrap animation animation-from-left">
						<ul class="carousel-nav">
							<li><a href="#" class="btn btn-icon-prev prev"></a></li>
							<li><a href="#" class="btn btn-icon-next next"></a></li>
						</ul><!-- .carousel-nav -->
						<div class="carousel" data-visible="3">
							{% for post in site.posts limit:3 %}
								{% include thumbnail.html %}
							{% endfor %}
						</div><!-- .carousel -->
					</div><!-- .carousel-wrap -->

				</div><!-- .container-out -->
				<div class="container-out container-light">

					<div class="title title-section">
						<h2>Get to know our staff</h2>
					</div><!-- .title.title-section -->

				</div><!-- .container-out -->
				<div class="container-out">

					<div class="carousel-wrap animation animation-from-right">
						<ul class="carousel-nav">
							<li><a href="#" class="btn btn-icon-prev prev"></a></li>
							<li><a href="#" class="btn btn-icon-next next"></a></li>
						</ul><!-- .carousel-nav -->
						<div class="clients carousel">
							<div class="member-heading">
								<a href="users/user-drKimmel.html">
									<img src="img/drKimmel.jpg" title="David A Kimmel DMD">
								</a>
								<div class="title">
									<h4><a href="users/user-drKimmel.html">David A Kimmel DMD</a></h4>
									<p>Doctor</p>
								</div>
							</div>
							<div class="member-heading">
								<a href="users/user-susan.html">
									<img src="img/susan.jpg" title="Susan Kimmel">
								</a>
								<div class="title">
									<h4><a href="users/user-susan.html">Susan Kimmel</a></h4>
									<p>Front Desk</p>
								</div>
							</div>
							<div class="member-heading">
								<a href="users/user-beth.html">
									<img src="img/beth.jpg" title="Beth Turner">
								</a>
								<div class="title">
									<h4><a href="users/user-beth.html">Beth Turner</a></h4>
									<p>Front Desk</p>
								</div>
							</div>
							<div class="member-heading">
								<a href="users/user-virginia.html">
									<img src="img/virginia.jpg" title="Virginia Desimine">
								</a>
								<div class="title">
									<h4><a href="users/user-virginia.html">Virginia Desimine</a></h4>
									<p>Hygiene</p>
								</div>
							</div>
							<div class="member-heading">
								<a href="users/user-cindy.html">
									<img src="img/cindy.jpg" title="Cindy Mellecker">
								</a>
								<div class="title">
									<h4><a href="users/user-cindy.html">Cindy Mellecke</a></h4>
									<p>Hygiene</p>
								</div>
							</div>
							<!--<div class="member-heading">
								<a href="users/user-ryan.html">
									<img src="img/ryan.jpg" title="Ryan Hansen">
								</a>
								<div class="title">
									<h4><a href="users/user-ryan.html">Ryan Hansen</a></h4>
									<p>Sterilization</p>
								</div>
							</div>-->
						</div><!-- .carousel -->
					</div><!-- .carousel-wrap -->

				</div><!-- .container-out -->
			</div>
		</div>
	</div><!-- #page-content -->
	{% include footer.html %}

	{% include js.html %}

	<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
	<script type="text/javascript" src="js/library/slider-revolution/js/jquery.themepunch.plugins.min.js"></script>
	<script type="text/javascript" src="js/library/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!--scripts for current page -->
	<script type="text/javascript" src="js/page/home.js"></script>

</body>
</html>
