
	<article class="post post-thumb post-type-text devider-top devider-margin-medium">
		<div class="post-heading">
			<div class="thumbnail">
				<a class="link" href="{{ post.url }}">
					<span class="btn btn-icon-link"></span>
					<img src="{{ post.thumb }}" title="{{ post.title }}">
				</a>
			</div><!-- .thumbnail -->
		</div><!-- .post-heading -->
		<div class="post-content">
			<div class="type"></div><!-- .type -->
			<div class="title">
				<h2 class="h4"><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<p class="meta">
					<span>Posted by <a href="{{ post.authorUrl }}">{{ post.author }}</a></span>
					<span class="meta-date">{{ post.date | date_to_string }}</span>
				</p>
			</div><!-- .title -->
			<div class="text">
				<p>{{ post.excerpt }} <a href="{{ post.url }}">READ MORE</a></p>
			</div><!-- .text -->
		</div><!-- .post-content -->
	</article><!-- .post -->