<footer id="footer">
		<div class="container">
			<div class="row middle">
				<div class="col-sm-6">

					<div class="title title-main">
						<h5>Newsletter</h5>
					</div>
					<div class="text">
						<p>Keep up on our always evolving product features and technology. Enter your e-mail and subscribe to our newsletter.</p>
					</div>

				</div><!-- .col-sm-6 -->
				<div class="col-sm-6">

					<!-- Begin MailChimp Signup Form -->
					<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
					<style type="text/css">
						#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
						/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
						   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
					</style>
					<div>
						<form action="http://cosmeticsmile.us3.list-manage.com/subscribe/post?u=6e252f0333fcc73e57e618a2b&amp;id=c6fb8e4ef3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<!--<label for="mce-EMAIL">Subscribe to our mailing list</label>-->
							<button type="submit" class="btn btn-icon-newsletter"></button>
							<div class="form-field">
								<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
							</div>
							

						    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;"><input type="text" name="b_6e252f0333fcc73e57e618a2b_c6fb8e4ef3" value=""></div>
							<!--<div class="clear">
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">-->
							</div>
						</form>
					</div>

					<!--End mc_embed_signup-->

				</div><!-- .col-sm-6 -->
			</div><!-- .row-->
		
			<hr class="devider-heavy" />
			<ul class="nav text-center">
				<li><a href="/index.html">Home</a></li>
				<li><a href="http://www.cosmeticsmile.net">Site</a></li>
				<li><a href="/blog.html">Blog</a></li>
				<li><a href="/contact.html">Contact</a></li>
			</ul>
			<hr class="devider-heavy" />
			<div class="row middle">
				<div class="col-md-7">

					<ul class="touch">
						<li><i class="fa icomoon-location"></i><p>12124 Cobblestone Dr<br />Bayonet Point, FL 34667</p></li>
						<li><i class="fa fa-phone"></i><p>(727) 862-8513</p></li>
						<li><i class="fa fa-envelope"></i><p><a href="mailto:fcld@verizon.net">FCLD@Verizon.net</a></p></li>
					</ul>

				</div><!-- .col-md-7 -->
				<div class="col-md-5">

					<ul class="social">
					<li><a href="http://www.youtube.com/user/Ltrypsin?feature=g-subs-u" class="youtube"></a></li>
					<li><a href="https://www.facebook.com/pages/The-Florida-Center-for-Laser-Dentistry/114171328593468" class="facebook"></a></li>
					<li><a href="https://plus.google.com/107222027583638509546/posts" class="google"></a></li>
				</ul><!-- .social -->

				</div><!-- .col-md-5 -->
			</div><!-- .row -->
			<div class="push"></div>
		</div><!-- .container -->
		<div class="credits"> hatched by MILLENNIUM TECHNOLOGY GROUP © 2014<span>|</span><a href="#">Terms</a><span>|</span><a href="#">Legal Notice</a></div>
</footer>