<header id="header">
		<aside class="topbar">
			<div class="container">

				<ul class="touch">
					<li>
						<img src="/img/phone.png" alt="Phone" title="Phone">
						<p>(727) 862-8513</p></li>
					<li>
						<img src="/img/mail.png" alt="Mail" title="Mail">
						<p><a href="mailto:fcld@verizon.net">FCLD@Verizon.net</a></p>
					</li>
					<li>
						<img src="/img/map.png" alt="Map" title="Map">
						<p>12124 Cobblestone Dr<br />Bayonet Point, FL 34667</p>
					</li>
				</ul><!-- .touch -->

				<ul class="social">
					<li><a href="http://www.youtube.com/user/Ltrypsin?feature=g-subs-u" class="youtube"></a></li>
					<li><a href="https://www.facebook.com/pages/The-Florida-Center-for-Laser-Dentistry/114171328593468" class="facebook"></a></li>
					<li><a href="https://plus.google.com/107222027583638509546/posts" class="google"></a></li>
				</ul><!-- .social -->

			</div><!-- .container -->
		</aside><!-- .topbar -->
  		<nav class="navbar">
			<!--<aside id="main-search">
				<div class="container">
					<div id="search">
  						<form action="#" method="GET">
							<a href="#" class="close"><span class="icomoon-close"></span></a>
							<div class="form-field">
								<label for="query">search on site...</label>
								<input type="text" name="query" id="query">
							</div>
						</form>
					</div> 
				</div>
			</aside>--><!-- #main-search -->
			<div class="container desktop-navbar">
				<a href="/index.html" class="logo">
					<img src="/img/logo.png">
				</a>
				<ul id="main-menu" class="custom carret">
					<li><a href="/index.html">Home<i>Let's Start here!</i></a>
					</li>
					<li><a href="http://www.cosmeticsmile.net">Site<i>Cosmetic Smile</i></a>
					</li>	
					<li><a href="/blog.html">Blog<i>Latest News</i></a>
						<ul>
							<li><a href="/topics/index.html">Topics</a>
								<ul>
									<li><a href="/topics/dentistry.html">Dentistry</a></li>
									<li><a href="/topics/cosmetics.html">Cosmetics</a></li>
									<li><a href="/topics/obagi.html">Obagi</a></li>
									<li><a href="/topics/spa.html">Spa</a></li>
									<li><a href="/topics/longboarding.html">Longboarding</a></li>
								</ul>
							</li>
							<li><a href="/archive.html">Archive</a></li>
						</ul>
					</li>
					<li><a href="/contact.html">Contact<i>Get in Touch</i></a>
					<!--<li><a href="#" class="btn-search"><span class="fa fa-search"></span></a></li>-->
				</ul>
			</div><!-- .desktop-navbar -->
			<div class="container mobile-navbar">
				<a href="/index.html" class="logo">
					<img src="/img/logo.png" alt="Jets">
				</a>
				<ul class="mobile-btn">
					<li><a class="btn-navbar" href="#"><span class="fa fa-reorder"></span></a></li>
					<!--<li><a class="btn-search" href="#"><span class="fa fa-search"></span></a></li>-->
				</ul>
			</div><!-- .mobile-navbar -->
		</nav><!-- .navbar -->
		<nav id="mobile-menu"></nav>
</header><!-- #header -->