<!-- jQuery & Helper library -->
	<script type="text/javascript" src="/js/library/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/js/library/helper/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/js/library/helper/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="/js/library/helper/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="/js/library/helper/imagesloaded.pkgd.min.js"></script>

	<!-- Retina js -->
	<script type="text/javascript" src="/js/library/retina/retina.js"></script>

	<!-- FancyBox -->
	<script type="text/javascript" src="/js/library/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Bootstrap js -->
	<script type="text/javascript" src="/js/library/bootstrap/bootstrap.min.js"></script>

	<!-- carouFredSel -->
	<script type="text/javascript" src="/js/library/carouFredSel/jquery.carouFredSel-6.2.1-packed.js"></script>

	<!-- Isotope -->
	<script type="text/javascript" src="/js/library/isotope/jquery.isotope.js"></script>

	<!-- Validate -->
	<script type="text/javascript" src="/js/library/validate/jquery.validate.min.js"></script>

	<!-- FlickrFeed  -->
	<script type="text/javascript" src="/js/library/jFlickrFeed/jflickrfeed.min.js"></script>

	<!-- Main theme javaScript file -->
	<script type="text/javascript" src="/js/theme.js"></script>
