<article class="post post-grid post-type-text">
	<div class="post-heading">
		<div class="thumbnail">
			<a class="link" href="{{ post.url }}">
				<span class="btn btn-icon-link"></span>
				<img src="{{ post.thumb }}" title="{{ post.title }}">
			</a>
		</div><!-- .thumbnail -->
	</div><!-- .post-heading -->
	<div class="post-content">
		<div class="type"></div><!-- .type -->
		<div class="title">
			<h2 class="h4"><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<p class="meta">
				<span class="meta-date">{{ post.date | date_to_string }}</span>
			</p>
		</div><!-- .title -->
		<div class="text">
			<p>{{ post.excerpt }}</p>
				<a href="{{ post.url }}" class="btn btn-primary">READ MORE</a>
		</div><!-- .text -->
		<p class="meta">
			<span>
				<a class="avatar" href="{{ post.authorUrl }}">
					<span class="btn btn-icon-user"></span>
					<img src="{{ post.authorImg }}" title="{{ post.author }}">
				</a>
				<a href="{{ post.authorUrl }}">{{ post.author }}</a>
			</span>
		</p><!-- .meta -->
	</div><!-- .post-content -->
</article><!-- .post -->