---
title: Topics
---
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
<head>

	<!-- Basic -->
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="keywords" content="Florida Cosmetic Laser Dentistry" />
	<meta name="description" content="FCLD - Cosmetic Laser Dentistry Blog">
	<meta name="author" content="mtg.com">

	<!-- Favicons -->
	<link rel="shortcut icon" type='image/x-icon' href="/img/favicon/logo-favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.css" />

	<!-- AWESOME and ICOMOON fonts -->
	<link rel="stylesheet" href="/css/fonts/awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/css/fonts/icomoon/style.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" href="/js/library/slider-revolution/css/settings.css">
	<link rel="stylesheet" href="/css/theme.css">
	<link rel="stylesheet" href="/css/theme-elements.css">
	<link rel="stylesheet" href="/css/color/orange.css">

	<!-- Modernizr -->
	<script type="text/javascript" src="/js/library/modernizr/modernizr.js"></script>

	<!--[if lte IE 8]>
		<link rel="stylesheet" href="css/ie8.css">
		<script src="js/library/respond-js/respond.src.js"></script>
	<![endif]-->

</head>
<body class="index">

	<!-- preload loaders -->
	<img style="display:none" src="/img/loader-light.gif" alt="loader" title="loader">
	<img style="display:none" src="/img/loader-dark.gif" alt="loader" title="loader">
	{% include header.html %}
	<div id="header-space"></div>
	<br/>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<a class="link" href="dentistry.html">
					<span class="btn">Dentistry</span>
					<img src="/img/dentist.jpg" alt="Image" title="Image">
					</a>	
				</div><!-- .thumbnail -->
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<a class="link" href="cosmetics.html">
					<span class="btn text-center">Cosmetics</span>
					<img src="/img/cosmetics.jpg" alt="Image" title="Image">
					</a>	
				</div><!-- .thumbnail -->
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<a class="link" href="obagi.html">
					<span class="btn">Obagi</span>
					<img src="/img/obagi.jpg" alt="Image" title="Image">
					</a>	
				</div><!-- .thumbnail -->
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<a class="link" href="spa.html">
					<span class="btn">Spa</span>
					<img src="/img/spa.jpg" alt="Image" title="Image">
					</a>	
				</div><!-- .thumbnail -->
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<a class="link" href="longboarding.html">
					<span class="btn text-center" data-x="60">Longboarding</span>
					<img src="/img/longboarding.jpg" alt="Image" title="Image">
					</a>	
				</div><!-- .thumbnail -->
			</div>
		</div>
	</div>
	{% include footer.html %}

	<!-- jQuery & Helper library -->
	<script type="text/javascript" src="/js/library/jquery/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/js/library/helper/jquery.easing.min.js"></script>
	<script type="text/javascript" src="/js/library/helper/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="/js/library/helper/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="/js/library/helper/imagesloaded.pkgd.min.js"></script>

	<!-- Retina js -->
	<script type="text/javascript" src="/js/library/retina/retina.js"></script>

	<!-- FancyBox -->
	<script type="text/javascript" src="/js/library/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>

	<!-- Bootstrap js -->
	<script type="text/javascript" src="/js/library/bootstrap/bootstrap.min.js"></script>

	<!-- carouFredSel -->
	<script type="text/javascript" src="/js/library/carouFredSel/jquery.carouFredSel-6.2.1-packed.js"></script>

	<!-- Validate -->
	<script type="text/javascript" src="/js/library/validate/jquery.validate.min.js"></script>

	<!-- FlickrFeed  -->
	<script type="text/javascript" src="/js/library/jFlickrFeed/jflickrfeed.min.js"></script>

	<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
	<script type="text/javascript" src="/js/library/slider-revolution/js/jquery.themepunch.plugins.min.js"></script>
	<script type="text/javascript" src="/js/library/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!--scripts for current page -->
	<script type="text/javascript" src="/js/page/home.js"></script>

	<!-- Main theme javaScript file -->
	<script type="text/javascript" src="/js/theme.js"></script>

</body>
</html>
